<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="19.1.0.56" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="19.1.0.56" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.8.0.1451" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.8.0.1451" targetFramework="net472" />
</packages>